body {
	min-height: 99dvh;
	min-width: 100dvw;

	background-color: var(--background-color);
	color: var(--text-color);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	line-height: 1.6;
}

.responsive-container {
	margin: 0.5rem auto;
	min-height: 95dvh;
	width: 1200px;
}

@media (max-width: 1220px) {
	.responsive-container {
		width: 300px;
	}
}