.tickets-panel {
	margin-top: 1rem;
}

.tickets-panel__title {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 0.5rem;
}

.tickets-panel__heading {
	font-weight: 600;
	font-size: 1.5rem;
}

.dashboard-create-ticket-button {
	font-weight: 500;
	color: var(--background-color);
	background-color: var(--accent-color);
	border-radius: 5px;
	padding: 0.2rem 1rem;
}

.dashboard-create-ticket-button:hover {
	text-decoration: none;
	cursor: pointer;
}

.dashboard-create-ticket-button:active {
	transform: scale(0.98);
}

.tickets-list__navbar {
	display: flex;
	gap: 0.5rem;
}

.tickets-list__navbar-link.selected {
	text-decoration: underline;
}

.tickets-list__list {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}