.ticket-card-container {
	border: 2px solid var(--text-color);
	border-radius: 5px;
	padding: 1rem;

	display: flex;
	justify-content: space-between;
}

.ticket-card__title {
	font-size: 1.2rem;
	font-weight: 600;
}

.delete-ticket-button {
	background-color: #7B0D1E;
	color: var(--text-color);
}

.finish-ticket-button {
	background-color: #069E2D;
}

.claimed-ticket-button-container, .ticket-card__right {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.5rem;
}